{% extends "base.html" %}

{% load static radio_tags el_pagination_tags %}

{% block title %}Adverts{% endblock %}
{% block navbar_title %}ADVERTS{% endblock %}

{% block content %}

<div id="library" class="grid grid-cols-1 md:grid-cols-2 max-w-full overflow-hidden rounded-2xl gap-1 mb-4">
  <div class="bg-lighter-gray max-w-full p-4">
    <h2 class="text-lg font-semibold leading-6 text-white mb-6">SPOT LIBRARY</h2>

    <div class="relative inline-block text-left mb-6 mr-4">
      <div>
        <button type="button" data-dropdown-toggle="library_tools_dropdown"
          class="viveca-primary-button"
          id="menu-button" aria-expanded="true" aria-haspopup="true">
          <i class="fa-solid fa-gear fa-fw"></i>
          TOOLS
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div
        class="viveca-dropdown-box"
        id="library_tools_dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="javascript:;" data-modal-target="add_new_library_modal" data-modal-toggle="add_new_library_modal" onclick="resetForm();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-plus fa-fw"></i> Add
          </a>
          <button type="button" id="add_new_library_modal_btn" data-modal-target="add_new_library_modal" data-modal-toggle="add_new_library_modal" class="hidden" role="menuitem" tabindex="-1"></button>
          <a href="javascript:;" onclick="editAdvertPopup();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-pencil fa-fw"></i> Edit
          </a>
          <a href="javascript:;" onclick="deleteAdverts();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-trash fa-fw"></i> Delete
          </a>
        </div>
      </div>
    </div>

    <div class="flex h-16 mb-6"></div>

    <div class="w-full max-w-96 flex rounded-md shadow-sm mb-6">
      <div class="relative flex flex-grow items-stretch focus-within:z-10">
        <input type="text" name="search_library" id="lib_table_search"
        class="block w-full rounded-none rounded-l-md border-0 py-1.5 sm:text-sm sm:leading-6 bg-main-gray text-white placeholder-gray-400 ring-1 ring-inset ring-separator-gray focus:ring-1 focus:ring-inset focus:ring-ring-gray"
        placeholder="Search">
      </div>
      <button type="button" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-separator-gray bg-main-gray hover:bg-dark-gray">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <form id="IDlibraryList" action="." method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="library">

      {% paginate 10 adverts %}

      <div class="bg-main-gray pb-4 rounded-xl overflow-x-scroll">
        <div class="inline-block min-w-full py-2 align-middle">
          <table id="mytable" class="min-w-full divide-y divide-separator-gray">
            <thead>
              <th scope="col" class="relative input-group px-7 sm:w-12 sm:px-6">
                <input type="checkbox" id="checkall" class="checkbox-input"/>
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">TITLE</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">ARTIST</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">ROTATION</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PREVIEW</th>
            </thead>

            <tbody id="table-adverts-data" class="divide-y divide-separator-gray">
              {% include 'viveca_dashboard/partials/advert_ajax_search.html' %}
            </tbody>
          </table>
        </div>
      </div>
      {% show_pages %}
    </form>
  </div>

  <div class="bg-lighter-gray max-w-full p-4">
    <h2 class="text-lg font-semibold leading-6 text-white mb-6">STATION</h2>

    <div class="relative text-left mb-6 mr-4">
      <div>
        <button type="button" data-dropdown-toggle="station_tools_dropdown"
          class="viveca-primary-button"
          id="menu-button" aria-expanded="true" aria-haspopup="true">
          <i class="fa-solid fa-gear fa-fw"></i>
          TOOLS
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div
        class="viveca-dropdown-box"
        id="station_tools_dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="javascript:;" onclick="$('#IDtypeList').submit();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-trash fa-fw"></i> Delete
          </a>
        </div>
      </div>
    </div>

    <div class="input-group mb-6">
      <label for="id_list_type" class="input-label mb-1">TYPE</label>
      {% get_advert_types as advert_types %}
      <select id="id_list_type" class="select-input">
        <option value="all">ALL</option>
        {% for type in advert_types %}
        <option value="{{ type.0 }}">{{ type.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="w-full max-w-96 flex rounded-md shadow-sm mb-6">
      <div class="relative flex flex-grow items-stretch focus-within:z-10">
        <input type="text" name="advert_type_search" id="advert_type_search"
        class="block w-full rounded-none rounded-l-md border-0 py-1.5 sm:text-sm sm:leading-6 bg-main-gray text-white placeholder-gray-400 ring-1 ring-inset ring-separator-gray focus:ring-1 focus:ring-inset focus:ring-ring-gray"
        placeholder="Search">
      </div>
      <button type="button" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-separator-gray bg-main-gray hover:bg-dark-gray">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <form id="IDtypeList" action="." method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="type">

      <div class="bg-main-gray pb-4 rounded-xl overflow-x-scroll">
        <div class="inline-block min-w-full py-2 align-middle">
          <table class="min-w-full divide-y divide-separator-gray">
            <thead>
              <th scope="col" class="relative input-group px-7 sm:w-12 sm:px-6">
                <input type="checkbox" id="checkall" class="checkbox-input"/>
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">TITLE</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">ARTIST</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">ROTATION</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PREVIEW</th>
            </thead>

            <tbody id="advert_type_listing" class="divide-y divide-separator-gray">
              {% include 'viveca_dashboard/partials/advert_type_ajax_list.html' %}
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block modal %}
<div id="add_new_library_modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[51] justify-center items-center w-full md:inset-0 h-[calc(100%-2rem)] md:h-[calc(100%-4rem)] max-h-full pointer-events-none">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="relative px-4 lg:pl-20 pt-16 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-lighter-gray rounded-lg shadow pointer-events-auto">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold text-white">
          ADD/EDIT MEDIA ITEM
        </h3>
        <button type="button" data-modal-hide="add_new_library_modal"
          class="text-gray-100 bg-transparent hover:bg-main-gray hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4" id="library_form">
        <div id="advert_form">
          {% include 'viveca_dashboard/partials/advert_add_edit_form.html' with form=advert_form %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra-scripts %}
<script src="{% static 'CrbUI/audio/button/js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'CrbUI/audio/button/js/swfobject.js' %}" type="text/javascript"></script>
<script src="{% static 'CrbUI/audio/button/js/CrbUI_AudioButton-0.74.js' %}" type="text/javascript"></script>
<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<script src="{% static 'js/wavesurfer_methods.js' %}" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
    CrbUI_AP.render();
    bindMediaUpload();
  });

  $('.check-all').on('click', function () {
    var $this = $(this);
    if ($this.is(':checked')) {
      $this.closest('form').find("input[type=checkbox]").each(function () {
        $(this).prop("checked", true);
      });
    } else {
      $this.closest('form').find("input[type=checkbox]").each(function () {
        $(this).prop("checked", false);
      });
    }
  });

  $('#lib_table_search').on('keyup', function (e) {
    var q = $(this).val();
    $.ajax({
      data: {
        'q': q
      },
      url: "{% url 'viveca_dashboard_advert' %}",
      method: 'GET',
      success: function (data) {
        if (data.status == true) {
          $('#table-adverts-data').html(data.html);
          CrbUI_AP.render();
        }
      },
      error: function (e) {
      }
    });
  });

  $('#advert_type_search').on('keyup', function (e) {
    var q = $(this).val();
    var value = $('#id_list_type').val();
    $.ajax({
      data: {
        'type': value,
        'q': q
      },
      type: 'post',
      url: "{% url 'viveca_dashboard_ajax_advert' %}",
      success: function (data) {
        if (data.status == true) {
          $('#advert_type_listing').html(data.html);
          CrbUI_AP.render();
        }
      },
      error: function (e) {
        alert('error');
      }
    });
  });

  $('#id_list_type').on('change', function () {
    var value = $(this).val();
    $.ajax({
      data: {
        'type': value
      },
      type: 'post',
      url: "{% url 'viveca_dashboard_ajax_advert' %}",
      success: function (data) {
        if (data.status == true) {
          $('#advert_type_listing').html(data.html);
          CrbUI_AP.render();
        }
      },
      error: function (e) {
        alert('error');
      }
    });
  });

  function bindMediaUpload() {
    $('#media-field').on('change', function (event) {
      event.stopPropagation(); // Stop stuff happening
      event.preventDefault(); // Totally stop stuff happening
      var data = new FormData();
      var file = document.getElementById("media-field");
      data.append("image", file.files[0]);
      data.append("type", 'adverts');
      $('#media_upload_loading').show();
      $.ajax({
        url: "{% url 'viveca_dashboard_upload_media' %}",
        type: 'POST',
        data: data,
        cache: false,
        dataType: 'json',
        processData: false, // Don't process the files
        contentType: false,
        success: function (data) {
          $('#id_media').val(data.media);
          $('#mmi_audio_player').html(data.audio);
          $('#media_upload_loading').hide();
          if (wavesurfer==null) {
            createWaveform();
          }
        }, error: function (e) {
          $('#media_upload_loading').hide();
        }
      });
    });
  }

  function loadInitialMarkers() {
    let markers = [
      {"markerId": "id_aux_point", "label": "AUX"},
    ];
    markers.forEach((marker) => setMarkerFromInput(marker['markerId'], marker['label']));
  }

  function addAdvert() {
    $.ajax({
      data: $('#AdvertForm').serialize(),
      type: 'post',
      url: $('#AdvertForm').attr('action'),
      success: function (data) {
        if (data.status == true) {
          $('#AdvertForm').submit();
        } else {
          $('#advert_form').html(data.html);
          bindMediaUpload();
          createWaveform();
        }
      },
      error: function (e) {
        alert('error');
      }
    });
  }

  function editAdvertPopup() {
    var len = $("#IDlibraryList input[type=checkbox]:checked").length;
    if (len > 1) {
      alert('You must select only a single song for editing.');
    }
    if (len == 0) {
      alert('Please select a song.');
    }

    if (len == 1) {
      $.ajax({
        data: $("#IDlibraryList").serialize(),
        type: 'post',
        url: "{% url 'viveca_dashboard_advert_edit_popup' %}",
        success: function (data) {
          if (data.status == true) {
            $('#advert_form').html(data.html);
            $('#add_new_library_modal_btn').click();
            $('#points-field').keyup();
            bindMediaUpload();
            createWaveform();
          }
        },
        error: function (e) {
          alert('error');
        }
      });
    }
  }

  function deleteAdverts() {
    var len = $("#IDlibraryList input[type=checkbox]:checked").length;
    if (len == 0) {
      alert('Please select an item from the list to delete.');
    } else {
      if (confirm('Are you sure you want to delete the selected items?')) {
        $('#IDlibraryList input[name="action"]').val('delete');
        $("#IDlibraryList").submit();
      }
    }
  }

  function changeRatingStars(val, element) {
    var stars = 0;
    if (val > 0 && val < 26) {
      stars = 1;
    }
    if (val > 25 && val < 51) {
      stars = 2;
    }
    if (val > 50 && val < 76) {
      stars = 3;
    }
    if (val > 75 && val < 101) {
      stars = 4;
    }
    if (val > 100) {
      stars = 5;
    }
    if (val < 1 || val == '') {
      stars = 0;
    }
    $(element).find(".fa-star").each(function (index) {
      if (index < stars) {
        $(this).addClass("text-amber-500");
        $(this).removeClass("text-white");
      } else {
        $(this).addClass("text-white");
        $(this).removeClass("text-amber-500");
      }
    });
  }

  function resetForm() {
    $("#AdvertForm").attr('action', "{% url 'viveca_dashboard_advert_add' %}");
    $("#AdvertForm :input").each(function () {
      $(this).val('');
    });
    $('#mmi_audio_player').html('');
    $('#cover_art_box').html('<input type="file" id="id_cover_art" name="cover_art">');
    changeRatingStars(0, '#pointStars');
  }
</script>
{% endblock %}
