{% extends "base.html" %}

{% load static el_pagination_tags %}

{% block title %}AI Voicetracks{% endblock %}
{% block navbar_title %}AI VOICETRACKS{% endblock %}

{% block content %}

<div class="grid overflow-hidden rounded-2xl gap-1 mb-4">
  <div class="bg-gray-100 p-4">
    <h2 class="text-lg font-semibold leading-6 text-white mb-6">AI VOICETRACKS</h2>

    <div class="flex flex-col md:flex-row md:justify-between">
      <div class="w-full max-w-96">
        <label for="dj_tracks_search" class="input-label text-sm hidden lg:leading-6 md:block mb-1">&nbsp;</label>
        <div class="w-full max-w-96 flex rounded-md shadow-sm mb-6">
          <div class="relative flex flex-grow items-stretch focus-within:z-10">
            <input type="text" name="dj_tracks_search" id="dj_tracks_search"
            class="block w-full rounded-none rounded-l-md border-0 py-1.5 sm:text-sm sm:leading-6 bg-main-gray text-white placeholder-gray-400 ring-1 ring-inset ring-separator-gray focus:ring-1 focus:ring-inset focus:ring-ring-gray"
            placeholder="Search">
          </div>
          <button type="button" class="relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-white ring-1 ring-inset ring-separator-gray bg-main-gray hover:bg-dark-gray">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>

      <div class="input-group mb-6">
        <label for="Listtype" class="input-label mb-1">SELECT CHANNEL</label>
        {{ form.related_station }}
      </div>
    </div>

    <div class="flex justify-end relative inline-block text-left mb-6">
      <div>
        <button type="button" data-dropdown-toggle="djtracks_tools_dropdown"
          class="viveca-primary-button"
          id="menu-button" aria-expanded="true" aria-haspopup="true">
          <i class="fa-solid fa-gear fa-fw"></i>
          TOOLS
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div
        class="viveca-dropdown-box"
        id="djtracks_tools_dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="javascript:;" onclick="editINAUX();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-pencil fa-fw"></i> Edit IN-AUX
          </a>
          <button type="button" id="inaux_modal_btn" data-modal-target="inaux_modal" data-modal-toggle="inaux_modal" class="hidden" role="menuitem" tabindex="-1"></button>
          <a href="javascript:;" onclick="deleteItems();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-trash fa-fw"></i> Delete
          </a>
          <a href="javascript:;" onclick="saveItems();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-refresh fa-fw"></i> Save
          </a>
        </div>
      </div>
    </div>

    <form id="DJform" action="." method="post">
      {% csrf_token %}
      <input id="action" type="hidden" name="delete">

      {% paginate 5 tracks %}

      <div class="bg-white pb-4 rounded-xl overflow-x-scroll">
        <div class="inline-block min-w-full py-2 align-middle">
          <table id="mytable" class="min-w-full divide-y divide-separator-gray">
            <thead>
              <th scope="col" class="relative input-group px-7 sm:w-12 sm:px-6">
                <input type="checkbox" id="check-all" class="checkbox-input"/>
              </th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">AUDIO NAME</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">OUT POINT</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">TRACK</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">IN POINT</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PRESENTER</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PHOTO</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PREVIEW</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PUBLISHED</th>
            </thead>

            <tbody id="djtracks_search_results" class="divide-y divide-separator-gray">
              {% include 'viveca_dashboard/partials/dj_tracks_search.html' %}
            </tbody>
          </table>
        </div>
      </div>
      {% show_pages %}
    </form>
  </div>

  <div class="bg-gray-100 p-4">
    <h2 class="text-lg font-semibold leading-6 text-white mb-6">MUSIC BEDS</h2>

    <div class="flex justify-end relative inline-block text-left mb-6">
      <div>
        <button type="button" data-dropdown-toggle="musicbeds_tools_dropdown"
          class="viveca-primary-button"
          id="menu-button" aria-expanded="true" aria-haspopup="true">
          <i class="fa-solid fa-gear fa-fw"></i>
          TOOLS
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div
        class="viveca-dropdown-box"
        id="musicbeds_tools_dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="javascript:;" data-modal-target="add_musicbed_modal" data-modal-toggle="add_musicbed_modal" onclick="showMusicBedPopup();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-plus fa-fw"></i> Add
          </a>
        </div>
      </div>
    </div>

    <div class="bg-white pb-4 rounded-xl overflow-x-scroll">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-separator-gray">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">NAME</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">AUDIO</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">DELETE</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-separator-gray">
            {% for musicbed in current_station.station_dj_musicbeds.all %}
            <tr>
              <td class="px-3 py-4 text-sm text-white">{{ musicbed.name }}</td>
              <td class="px-3 py-4 text-sm text-white">
                <div id="{{ musicbed.url }}" data-inpoint="{{ musicbed.in_point }}" class="CrbUI_AudioButton"></div>
              </td>
              <td class="px-3 py-4 text-sm text-white">
                <a data-tag="{{ musicbed.id }}" onclick="deleteMusicbed(this);" style="cursor:pointer">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr class="odd">
              <td class="text-base text-center text-white font-semibold px-3 pt-6 lg:pt-8" valign="center" colspan="3" class="dataTables_empty">No records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="bg-gray-100 p-4">
    <h2 class="text-lg font-semibold leading-6 text-white mb-6">TAGS</h2>

    <div class="flex justify-end relative inline-block text-left mb-6">
      <div>
        <button type="button" data-dropdown-toggle="tags_tools_dropdown"
          class="viveca-primary-button"
          id="menu-button" aria-expanded="true" aria-haspopup="true">
          <i class="fa-solid fa-gear fa-fw"></i>
          TOOLS
          <i class="fa-solid fa-angle-down"></i>
        </button>
      </div>
      <div
        class="viveca-dropdown-box"
        id="tags_tools_dropdown" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <a href="javascript:;" data-modal-target="add_tag_modal" data-modal-toggle="add_tag_modal" onclick="showTagPopup();" class="viveca-dropdown-item" role="menuitem" tabindex="-1">
            <i class="fa-solid fa-plus fa-fw"></i> Add
          </a>
        </div>
      </div>
    </div>

    <div class="bg-white pb-4 rounded-xl overflow-x-scroll">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-separator-gray">
          <thead>
            <tr>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">TAG NAME</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">PREVIEW</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">DELETE</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-separator-gray">
            {% for tag in tags %}
            <tr>
              <td class="px-3 py-4 text-sm text-white">{{ tag.name }}</td>
              <td class="px-3 py-4 text-sm text-white">{{ track.media.url }}</td>
              <td class="px-3 py-4 text-sm text-white">
                <div id="{{ musicbed.url }}" data-inpoint="{{ musicbed.in_point }}" class="CrbUI_AudioButton"></div>
              </td>
              <td class="px-3 py-4 text-sm text-white">
                <a class="cursor-pointer" data-tag="{{ tag.id }}" onclick="deleteTag(this);">
                  <i class="fa fa-trash-o"></i>
                </a>
              </td>
            </tr>
            {% empty %}
            <tr class="odd">
              <td class="text-base text-center text-white font-semibold px-3 pt-6 lg:pt-8" valign="center" colspan="3" class="dataTables_empty">No records found</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modal %}
<div id="inaux_modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[51] justify-center items-center w-full md:inset-0 h-[calc(100%-2rem)] md:h-[calc(100%-4rem)] max-h-full pointer-events-none">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="relative px-4 lg:pl-20 pt-16 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-lighter-gray rounded-lg shadow pointer-events-auto">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold text-white">
          EDIT IN-AUX
        </h3>
        <button type="button" data-modal-hide="inaux_modal"
          class="text-gray-100 bg-transparent hover:bg-main-gray hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4" id="library_form">
        <div id="edit-inaux">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add_musicbed_modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[51] justify-center items-center w-full md:inset-0 h-[calc(100%-2rem)] md:h-[calc(100%-4rem)] max-h-full pointer-events-none">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="relative px-4 lg:pl-20 pt-16 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-lighter-gray rounded-lg shadow pointer-events-auto">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold text-white">
          ADD MUSICBED
        </h3>
        <button type="button" data-modal-hide="add_musicbed_modal"
          class="text-gray-100 bg-transparent hover:bg-main-gray hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <form id="musicbed_form" action="{% url 'viveca_dashboard_reports_dj_musicbeds' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.get_full_path }}">
          <input type="hidden" name="station" value="{{ current_station.id }}">

          <div class="horizontal-input-group">
            <label for="txt-name-musicbed" class="input-label">NAME</label>
            <div class="form-control-box">
              <input type="text" id="txt-name-musicbed" name="name" class="form-control">
              <span id="name_musicbed_error" class="help-text"></span>
            </div>
          </div>

          <div class="horizontal-input-group">
            <label for="txt-audio-musicbed" class="input-label">AUDIO</label>
            <div class="form-control-box">
              <input type="text" id="txt-audio-musicbed" name="url" class="form-control">
              <span id="audio_musicbed_error" class="help-text"></span>
            </div>
          </div>
        </form>

        <div class="flex justify-center py-6">
          <button type="button" class="viveca-primary-button" onclick="AddMusicBed();">
            <i class="fa-solid fa-circle-check fa-fw"></i> <span>ADD MUSICBED</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="add_tag_modal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-[51] justify-center items-center w-full md:inset-0 h-[calc(100%-2rem)] md:h-[calc(100%-4rem)] max-h-full pointer-events-none">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="relative px-4 lg:pl-20 pt-16 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-lighter-gray rounded-lg shadow pointer-events-auto">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-xl font-semibold text-white">
          ADD TAG
        </h3>
        <button type="button" data-modal-hide="add_tag_modal"
          class="text-gray-100 bg-transparent hover:bg-main-gray hover:text-white rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <div class="horizontal-input-group">
          <label for="txt-tag" class="input-label">TAG NAME</label>
          <div class="form-control-box">
            <input type="text" id="txt-tag" name="dj-tag" class="form-control">
            <span id="dj_tag_error" class="help-text"></span>
          </div>
        </div>

        <div class="flex justify-center py-6">
          <button type="button" class="viveca-primary-button" onclick="AddToTag();">
            <i class="fa-solid fa-circle-check fa-fw"></i> <span>ADD TAG</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra-scripts %}
<script src="{% static 'CrbUI/audio/button/js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'CrbUI/audio/button/js/swfobject.js' %}" type="text/javascript"></script>
<script src="{% static 'CrbUI/audio/button/js/CrbUI_AudioButton-0.74.js' %}" type="text/javascript"></script>

<script src="https://unpkg.com/wavesurfer.js@7"></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/plugins/regions.min.js"></script>
<script src="{% static 'js/wavesurfer_methods.js' %}" type="text/javascript"></script>

<script type="text/javascript">
  $(document).ready(function () {
    CrbUI_AP.render();

    $('#check-all').on('click', function () {
      var $this = $(this);
      if ($this.is(':checked')) {
        $("#DJform input[type=checkbox]").each(function () {
          if ($(this).attr("name") == "tracks") {
            $(this).prop("checked", true);
          }
        });
      } else {
        $("#DJform input[type=checkbox]").each(function () {
          if ($(this).attr("name") == "tracks") {
            $(this).prop("checked", false);
          }
        });
      }
    });

    $('#dj_tracks_search').keyup(function (e) {
      var q = $(this).val();
      if (!q == '') {
        $.ajax({
          data: {
            'q': q,
            'related_station': $('#id_related_station').val()
          },
          url: "{% url 'viveca_dashboard_ai_voicetracks' %}",
          method: 'GET',
          success: function (data) {
            if (data.status == true) {
              $('#djtracks_search_results').html(data.html);
              CrbUI_AP.render();
            }
          },
          error: function (e) {}
        });
      }
    });
    
    $('#id_related_station').on('change', function (e) {
      var id = $(this).val();
      window.location.href = '{% url "viveca_dashboard_ai_voicetracks" %}' + '?related_station=' + id;
    });
  });

  function editINAUX() {
    var len = $("#DJform input[name=tracks]:checked").length;
    if (len > 1) {
      alert('You must select only a single song for editing.');
    }
    if (len == 0) {
      alert('Please select a song.');
    }
    if (len == 1) {
      $.ajax({
        data: $("#DJform").serialize(),
        type: 'post',
        url: "{% url 'viveca_dashboard_reports_dj_inaux' %}",
        success: function (data) {
          if (data.status == true) {
            $('#edit-inaux').html(data.html);
            $('#inaux_modal_btn').click();
            if (wavesurfer==null) {
              createWaveform();
            }
          }
        },
        error: function (e) {
          //alert('error');
        }
      });
    }
  }

  function loadInitialMarkers() {
    let markers = [
      {"markerId": "id_in_point", "label": "IN"},
      {"markerId": "id_aux_point", "label": "AUX"},
    ];
    markers.forEach((marker) => setMarkerFromInput(marker['markerId'], marker['label']));
  }

  function deleteItems() {
    var proceed = confirm('Do you really want to delete these item(s)?')
    if (proceed == true) {
      $('#action').attr('name', 'delete');
      $('#DJform').submit();
    }
  }

  function saveItems() {
    $('#action').attr('name', 'save');
    $('#DJform').submit();
  }

  function showMusicBedPopup() {
    $('#txt-name-musicbed').val('');
    $('#txt-audio-musicbed').val('');
  } 

  function AddMusicBed() {
    var valid = true;
    var name = $('#txt-name-musicbed').val();
    var audio = $('#txt-audio-musicbed').val();
    if (name == '') {
      valid = false;
      $('#name_musicbed_error').html('<ul class="errorlist"><li>This field is required.</li></ul>');
    } else {
      $('#name_musicbed_error').html('');
    }
    if (audio == '') {
      valid = false;
      $('#audio_musicbed_error').html('<ul class="errorlist"><li>This field is required.</li></ul>');
    } else {
      $('#audio_musicbed_error').html('');
    }
    if (valid == true) {
      $('#musicbed_form').submit();
    }
  }

  function showTagPopup() {
    $('#txt-tag').val('');
  }

  function AddToTag() {
    var val = $('#txt-tag').val();
    if (val == '') {
      $('#dj_tag_error').html('<ul class="errorlist"><li>This field is required.</li></ul>');
    } else {
      $.get("{% url 'viveca_dashboard_ai_voicetracks' %}", {
          'type': 'add',
          'name': val
        },
        function (data) {
          if (data.status == true) {
            window.location.href = '{{ request.path }}'
          }
        });
    }
  }

  function deleteTag(element) {
    var id = $(element).attr('data-tag');
    $.get("{% url 'viveca_dashboard_ai_voicetracks' %}", {
        'type': 'delete',
        'id': id
      },
      function (data) {
        if (data.status == true) {
          window.location.href = '{{ request.get_full_path }}';
        }
      });
  }

  function deleteMusicbed(element) {
    var id = $(element).attr('data-tag');
    $.get("{% url 'viveca_dashboard_reports_dj_musicbeds' %}", {
        'type': 'delete',
        'id': id
      },
      function (data) {
        if (data.status == true) {
          window.location.href = '{{ request.get_full_path }}'
        }
      });
  }
</script>
{% endblock %}
